#version=RHEL8
eula --agreed
ignoredisk --only-use=sda
# Partition clearing information
clearpart --none --initlabel
autopart
# Use text install
text
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_NZ.UTF-8

# Network information
network  --bootproto=dhcp
network  --hostname=localhost.localdomain
# Use network installation
url --mirrorlist="http://mirrorlist.centos.org/?release=8&arch=x86_64&repo=BaseOS"
# Root password
rootpw vagrant
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone Pacific/Auckland --isUtc
user --name=vagrant --plaintext --password=vagrant --gecos="vagrant"
reboot

%packages
@^minimal-environment
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%post
echo "vagrant ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
chmod 0440 /etc/sudoers.d/vagrant

%end